header {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


 header > .nav_bar > ul {
    display: flex;
 }

 header > .nav_bar > ul > li {
    margin-right: 40px;
    cursor: pointer;
 }

 header > .nav_bar > ul > li:hover {
    transform: scale(1.1);
 }


@media only screen and (max-width: 450px) {
   body {
      background-color: aqua;
   }
}