header {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 1rem;
}

header > .name {
    padding-right: calc(100vw - 570px);
}

 header > .nav_bar > ul {
    display: flex;
 }

 header > .nav_bar > ul > li {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    cursor: pointer;
 }

 header > .nav_bar > ul > li:hover {
    transform: scale(1.1);
 }

 header > .nav_bar {
    display: flex;
    justify-content: end;
}