.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 6px;
    height: 10vh;
    width: 100vw;
    // position: fixed;
    // top: 0;
    padding: 1rem;

    &__hamburger {
        display: none;
        width: 60px;
        height: 35px;
    }

    &__name {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 10px;

        &:hover {
            background-color: rgba(207, 181, 181, 0.339);
            border-radius: 6px;
            color: white;
        }
    }

    &__nav {

        .header__item {
            padding: 10px 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba(207, 181, 181, 0.339);
                border-radius: 6px;
                color: white;
            }

            .header__item-text {
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
}


@media only screen and (max-width: 776px) {

    .header {
        height: 10vh;
        
        &__hamburger {
            display: block;
            width: 50px;
        }
    
        &__nav {
            display: none;
        }
    }
}
