.skills_container {
    background-color: rgb(45, 49, 45);
    width: fit-content;
    padding: 20px;

    table, th, td {
        border: 3px double rgb(211, 201, 201);
        border-collapse: collapse;
        padding: 10px;

        p {
            font-weight: bold;
        }
    }
}