.home_container {
    .hero_container {
        display: flex;
        
        .about_box {
            display: flex;
        }
    }

    .contact-form {
        margin: 10px 0;
        // border: 1px solid red;
        background-color: rgba(36, 37, 37, 0.226);
    }

}