@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fonts: (
  salsa: 'Salsa',
  abril: 'Abril Fatface',
  poppins: 'Poppins'
);

.contact-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    font-family: map-get($map: $fonts, $key: abril);
    font-size: 18px;

    .image-box {
        flex: 1;
        padding: 20px;
        height: auto;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .form {
        flex: 1;
        padding: 20px;

        form {
            label {
                display: block;
                margin-bottom: 10px;

                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }

            button {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .image-box,
        .form {
            width: 100%;
        }
    }
}
