@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fonts: (
  salsa: 'Salsa',
  abril: 'Abril Fatface',
  poppins: 'Poppins'
);

.abrilFatface {
    font-family: map-get($map: $fonts, $key: abril);
}

.poppins {
    font-family:  map-get($map: $fonts, $key: poppins);
}
.main_app_container {
    margin: 0 200px;
    
}

#main{
    font-family: map-get($map: $fonts, $key: abril);
}