* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body {
    background-color: #1f1f47;
    color: white;
}

body::-webkit-scrollbar {
    width: 0px;
}