* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

*:focus {
    outline: none;
}

textarea {
    padding: 7px;
}


body {
    /* background-image: url('https://studyinsweden.se/transformations/2018/04/rawpixel-com-561415-unsplash-scaled.jpg-1920x.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: #121212;
    color: white;
}

body::-webkit-scrollbar {
    width: 0px;
}

input {
    padding-left: 7px;
    background-color: transparent;
    border: 1px solid rgb(240, 225, 225);
    color: white;
    margin-left: 3px;
}

input:focus {
    outline: none;
}