* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    /* background-image: url('https://studyinsweden.se/transformations/2018/04/rawpixel-com-561415-unsplash-scaled.jpg-1920x.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: #121212;
    color: white;
}

body::-webkit-scrollbar {
    width: 0px;
}